<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create story</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" /> -->
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <!-- <---- gotta add a specific css here -->
    <link rel="stylesheet" href="/styles/create.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <!-- <script src="/scripts/story_create_form.js"></script> -->
    <!-- <script src="/routes/story_create_routes.js"></script>
  <script src="/routes/login.js"></script> -->
  </head>

  <body>
    <!-- <p id="oldentry">Previous entry here</p>
    <button type="button" id="show">Show previous entry</button> -->
    <h1>Create Contribution</h1>

    <!-- action="/create/read" method="post" -->
    <form action="/create/contribute/<%= id %>" method="post" id="writingform">
      <div id="info">
        <input type="text" id="title" name="title" placeholder=" Title here " />
        <textarea name="body" placeholder="Write your story here"></textarea>
      </div>
      <input type="submit" id="submitbtn" value="Submit" />
    </form>
    <label name="counter">0</label>
  </body>
</html>
