body {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

p#oldentry {
  border-style: groove;
}

textarea {
  height: 20rem;
  background-color: transparent;
}

#info {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#writingform {
  width: 95%;
}

#submitbtn {
  width: 20%;
  height: 30%;
}
