body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  min-height: 100vh;

  background: rgb(236, 180, 29);
  background: linear-gradient(
    227deg,
    rgb(210, 146, 77) 0%,
    rgb(213, 84, 14) 20%,
    rgb(190, 42, 9) 34%,
    rgb(207, 103, 34) 59%,
    rgb(217, 149, 23) 74%,
    rgb(38, 214, 52) 100%
  );
}
